* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: lightskyblue;
}

header {
    font-family:cursive;
    background-color: rgb(168 114 101);
    color: #ffffff;
    height: max-content;
    padding-block: 2rem;
}

header h1 {
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    width: fit-content;
    border: solid bisque 10px;
    background-color: lightskyblue;

}

header nav {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url("./images/IMG_2586.JPG");
    background-size: cover;
    background-position:center;
    border-style:inset;
    border-color: bisque;
    border-width: 1em;
}

.content {
    margin: 5px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 30px;
    border: solid black 6px;
    width:max-content;
    padding: 10px;
}


p{
    margin-left: 200px;
    font-size: 20px;
    padding: 20px;
    width:fit-content;
    border-left: 6px solid black;
}

footer {
    margin: 5px;
    padding: 15px;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    text-decoration: underline;

}